body.dark {
  background-color: var(--dark-mode);
  color: #ddecf6;
  transition: background 0.3s ease-in;
}

.project .project-tabs .button.dark {
  background-color: white;
}

.about .about-text h3.dark {
  color: white;
}

.skill .skill-header h3.dark {
  color: white;
}

.tools .tools-header h3.dark {
  color: white;
}

.project .project-text h3.dark {
  color: white;
}

.footer-sosmed .sosmed.dark {
  background-color: rgb(5, 5, 128);
}

.footer-sosmed .sosmed a.dark {
  color: white;
}

.nav-list a.dark {
  color: white;
}

.my-services .services-text h3.dark {
  color: white;
}

.my-services .services-list .my-card .my-card-header svg.dark {
  color: rgb(191, 152, 230);
}

.nav-list a.dark:hover {
  color: rgb(131, 211, 248);
}
