/* Responsive */
/* Ukuran tablet */
/* @media screen and (max-width: 1024px) {
  .nav-logo h3 {
    font-size: 1.5em;
  }

  .nav-list a {
    font-size: 16px;
  }

  .nav-link .label {
    width: 40px;
    height: 15px;
  }

  .nav-link .ball {
    width: 18px;
    height: 18px;
  }

  .nav-link .toggle:checked + .label .ball {
    transform: translateX(25px);
  }

  .header {
    padding: 0 20px;
  }

  .about {
    padding: 0 20px !important;
  }

  .about .about-image img {
    width: 50%;
    height: 50%;
  }
} */

/* Ukuran Hp */
@media screen and (max-width: 700px) {
  .title h1 {
    font-size: 3em;
  }

  .title p {
    font-size: 1.5rem;
  }

  .desc h3 {
    font-size: 2rem;
  }

  .desc h5 {
    font-size: 1.5rem;
  }

  .my-nav {
    height: 80px !important;
    padding: 0;
  }

  .nav-logo {
    width: 100vw;
    text-align: center;
  }

  .nav-list {
    position: fixed;
    bottom: 0;
    background-color: black;
    height: 80px;
    width: 100vw;
  }

  .nav-list ul li a {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 2em;
    font-size: 14px;
  }

  .nav-list ul li a > svg {
    display: flex;
    width: 30px;
    margin-bottom: 5px;
    color: black;
  }

  .nav-list ul li a > span {
    display: none;
  }

  .header {
    padding: 0 20px;
  }

  .header h1 {
    font-size: 2.5em;
  }

  .about {
    padding: 0 20px;
    grid-template-columns: 1fr;
  }

  .about .about-text {
    place-content: start;
  }

  .about .about-text h1 {
    font-size: 4em;
  }

  .about .about-desc p {
    font-size: 1.2rem;
    margin: 20px 0;
  }

  .tools {
    padding: 0 10px;
  }

  .tools h1 {
    font-size: 4em;
    margin-top: 50px;
  }

  .tools .list-of-tools .tool h4 {
    font-size: 2rem;
  }

  .ui-design {
    padding: 50px 20px;
    height: 100%;
  }

  .ui-design h1 {
    font-size: 2.5em;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .description {
    justify-content: start;
    padding: 0;
  }

  .ui {
    padding: 100px 20px;
  }

  .design-graphics {
    padding: 50px 20px;
    height: 100%;
  }

  .design-graphics h1 {
    font-size: 2.5em;
  }

  .design {
    padding: 100px 20px;
  }

  .website {
    padding: 50px 20px;
    height: 100%;
  }

  .website h1 {
    font-size: 2.5em;
  }

  .web {
    padding: 100px 20px;
  }

  .web .grid .description {
    justify-content: start;
    padding: 0;
  }

  .footer {
    padding: 0 20px;
  }

  .footer h1 {
    font-size: 3.5em;
    text-align: center;
  }

  .footer-copy {
    margin-bottom: 80px;
  }

  .follows {
    position: absolute;
    bottom: 100px;
    display: flex;
    width: 100%;
    padding: 0 20px;
  }

  .follows .follow a > svg {
    width: 40px;
  }
}
