/* Responsive */
/* Ukuran tablet */
@media screen and (max-width: 1024px) {
  .nav-logo h3 {
    font-size: 1.5em;
  }

  .nav-list a {
    font-size: 16px;
  }

  .nav-link .label {
    width: 40px;
    height: 15px;
  }

  .nav-link .ball {
    width: 18px;
    height: 18px;
  }

  .nav-link .toggle:checked + .label .ball {
    transform: translateX(25px);
  }

  .header {
    padding: 0 20px;
  }

  .about {
    padding: 0 20px !important;
  }

  .about .about-image img {
    width: 50%;
    height: 50%;
  }
}

/* Ukuran Hp */
@media screen and (max-width: 700px) {
  #progressBar {
    display: none;
  }

  #scrollPath {
    display: none;
  }

  .cursor {
    display: none;
  }

  .my-nav {
    height: 80px !important;
    padding: 0;
  }

  .nav-logo {
    width: 100vw;
    text-align: center;
  }

  .nav-list {
    position: fixed;
    bottom: 0;
    background-color: var(--orange);
    height: 80px;
    width: 100vw;
  }

  .nav-list ul li a {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 2em;
    font-size: 14px;
  }

  .nav-list ul li a > svg {
    display: flex;
    width: 30px;
    margin-bottom: 5px;
    color: black;
  }

  .nav-list ul li a > span {
    display: none;
  }

  .nav-link {
    display: none;
  }

  .nav-link .label {
    width: 35px;
    height: 10px;
  }

  .nav-link .ball {
    width: 14px;
    height: 14px;
  }

  .nav-link .toggle:checked + .label .ball {
    transform: translateX(25px);
  }

  .header {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }

  .header .header-text {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    height: 100%;
    box-sizing: border-box;
  }

  .header .header-text > * {
    margin: auto;
  }

  .header .header-text h4 {
    font-size: 30px;
  }

  .header .header-text h2 {
    font-size: 40px;
  }

  .header .header-text h2 span {
    margin: 0 10px;
  }

  .header .header-text h4 span {
    width: 50px;
    height: 5px;
    border-radius: 50px;
  }

  .header .header-text .header-link a {
    height: 50px;
    font-size: 16px;
  }

  .header .header-image img {
    width: 300px;
    height: 180px;
  }

  .header-skill {
    padding: 0 10px;
  }

  .header-skill .header-skill-list {
    font-size: 20px;
  }

  .about {
    padding: 0;
    grid-template-columns: 1fr;
  }

  .about .about-text h1 {
    font-size: 5em;
  }

  .about .about-desc {
    padding: 20px 0;
  }

  .about .about-desc p {
    font-size: 2rem;
  }

  .tools {
    padding: 0;
  }

  .projects {
    grid-template-columns: 1fr;
    grid-template-areas: "text" "gallery";
  }

  .projects .project-text {
    padding: 0;
    box-sizing: border-box;
  }

  .projects .project-text h1 {
    font-size: 3em;
    text-align: center;
  }

  .collaboration {
    padding: 0 20px;
  }

  .collaboration h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 10px;
  }

  .footer h1 {
    font-size: 4rem;
    text-align: center;
  }

  .footer-copy {
    transform: translateY(-100px);
  }
}
