@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

:root {
  /* Variable color */
  --orange: rgb(255, 209, 111);
  /* End variable color */

  /* Variable shadow */
  --shadow-orange: 0 10px 30px rgb(255, 225, 159);
  --shadow-orange-hover: 0 5px 0 rgb(255, 218, 139);
  /* End variable shadow */

  /* Variable font */
  --pairplay-display: "Playfair Display";
  --montserrat: "Montserrat";
  /* End variable font */

  /* Variable color font */
  --heading: rgb(50, 50, 50);
  --text: rgb(80, 80, 80);
  /* End variable color font */
}

.full-container {
  width: 100%;
  height: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* end style loader */

/* Start style for unique scroll page
/
/
/ =========== Description ============
/ This style for custom scrollbar with
/ random color and the color generate
/ by JavaScript.
/ ====================================
/
/
*/

::-webkit-scrollbar {
  width: 0;
}

#scrollPath {
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.05);
}

#progressBar {
  top: 0;
  right: 0;
  width: 15px;
  height: 100%;
  position: fixed;
  z-index: 99;
  animation: animate 5s linear infinite;
  background: linear-gradient(to top, rgb(192, 37, 37), rgb(110, 26, 167));
}

@keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

#progressBar::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background: linear-gradient(to top, rgb(223, 146, 146), rgb(192, 125, 236));
  filter: blur(10px);
}

#progressBar::after {
  top: 0;
  left: 0;
  width: 100%;
  content: "";
  position: absolute;
  filter: blur(30px);
  background: linear-gradient(to top, rgb(223, 146, 146), rgb(192, 125, 236));
}
/* End style unique scroll page */

/* Start section header and nav*/
.my-nav {
  position: absolute;
  z-index: 1000;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
}

.my-nav.fixed {
  position: fixed;
  background-color: rgb(243, 243, 243);
  height: 100px;
  box-shadow: 0 0 10px rgb(111, 58, 163, 0.3);
  color: rgb(54, 54, 54);
  transition: all 0.3s ease-in;
}

.my-nav.fixed1 {
  position: fixed;
  background-color: rgb(253, 240, 216);
  height: 100px;
  box-shadow: 0 0 10px rgb(111, 58, 163, 0.3);
  color: rgb(54, 54, 54);
  transition: all 0.3s ease-in;
}

.my-nav.fixed2 {
  position: fixed;
  background-color: white;
  height: 100px;
  box-shadow: 0 0 10px rgb(111, 58, 163, 0.3);
  color: rgb(54, 54, 54);
  transition: all 0.3s ease-in;
}

.my-nav.fixed3 {
  position: fixed;
  background-color: black;
  height: 100px;
  box-shadow: 0 0 10px rgb(111, 58, 163, 0.3);
  color: rgb(54, 54, 54);
  transition: all 0.3s ease-in;
}

.my-nav.fixed3 > * {
  color: white;
}

.nav-list a.fixed {
  color: rgb(54, 54, 54);
}

.nav-logo {
  display: flex;
  justify-content: center;
}

.nav-logo h3 {
  font-size: 2em;
  font-weight: 700;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-list ul {
  display: flex;
}

.nav-list a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  padding: 2em;
}

.nav-list ul li a > svg {
  display: none;
}
/* End navbar */

.header {
  display: grid;
  padding: 0 50px;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  place-content: center start;
  height: 100vh;
  font-family: var(--montserrat);
  color: var(--heading);
}

.header .header-text {
  place-content: center;
  width: 100%;
  padding: 50px;
}

.header .header-text h4 {
  font-size: 60px;
  font-weight: 300;
  display: flex;
}

.header .header-text h4 span {
  width: 150px;
  height: 10px;
  border-radius: 50px;
  margin: auto 20px;
  background-color: #bbceec;
}

.header .header-text h2 {
  font-size: 60px;
  font-weight: 300;
}

.header .header-text h2 span {
  font-weight: 700;
}

.header .header-text a {
  text-decoration: none;
  width: 150px;
  height: 50px;
  background-color: var(--orange);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
  color: white;
  box-shadow: var(--shadow-orange);
  border-radius: 50px;
  margin-top: 10px;
  transition: all 0.5s ease;
}

.header .header-text a:hover {
  box-shadow: var(--shadow-purple-hover);
}

.header .header-image {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  padding: 0 50px;
  box-sizing: border-box;
}

.header .header-image img {
  display: flex;
  width: 100%;
}
/* End for section header */

.header-skill {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: space-between;
  padding: 0 100px;
  font-family: var(--montserrat);
}

.header-skill .header-skill-list {
  display: flex;
  align-items: center;
  font-size: 25px;
  height: 100px;
  width: 100%;
}

.header-skill .header-skill-list p {
  font-weight: 500;
}

.header-skill .header-skill-list svg {
  margin: 0 20px;
  width: 50px;
  height: 50px;
}

.about {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(243, 243, 243);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  place-content: center;
  padding: 0 100px;
}

.about .about-text {
  display: grid;
  place-content: end center;
}

.about .about-text h1 {
  font-size: 5em;
  color: var(--heading);
}

.about .about-desc p {
  font-size: 2rem;
  font-weight: 500;
}

.tools {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(243, 243, 243);
  place-content: center;
  padding: 0 100px;
}

.tools h1 {
  font-size: 5em;
  color: var(--heading);
  text-align: center;
}

.tools .list-of-tools {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  padding: 50px 20px;
}

.tools .list-of-tools .tool {
  padding: 20px;
  display: grid;
  justify-content: center;
  transition: 0.5s ease-in;
}

.tools .list-of-tools .tool h4 {
  font-size: 2.5rem;
}

.tools .list-of-tools .tool:hover {
  box-shadow: 0 0 10px rgb(211, 211, 211);
}

.projects {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(253, 240, 216);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-areas: "gallery text";
}

.projects .project-text {
  display: grid;
  place-content: center;
  grid-area: text;
}

.projects .project-text h1 {
  font-size: 5em;
  color: rgb(122, 80, 0);
  margin-bottom: 30px;
}

.projects .project-gallery {
  height: 100%;
  grid-area: gallery;
}

.projects .project-gallery .project-list {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  padding: 50px;
}

.projects .project-gallery .project-list img {
  object-fit: cover;
  width: 100%;
}

.collaboration {
  width: 100vw;
  height: 100vh;
  padding: 0 100px;
  background: url(/img/office-865091_1920.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: grid;
  place-content: center;
  position: relative;
}

.collaboration::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: black;
  opacity: 50%;
}

.collaboration h1 {
  font-size: 4em;
  color: var(--orange);
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.collaboration a {
  text-decoration: none;
  font-size: 20px;
  background-color: rgb(129, 129, 129);
  color: white;
  padding: 0.5em 1em;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  transition: 0.5s ease-in;
  font-family: var(--montserrat);
  position: relative;
  z-index: 1;
}

.collaboration a:hover {
  background-color: rgb(88, 88, 88);
}

.footer {
  width: 100vw;
  height: 90vh;
  display: grid;
  place-content: center;
}

.footer h1 {
  font-size: 5em;
  color: var(--heading);
  position: relative;
}

.footer .follows {
  display: flex;
  justify-content: center;
  font-size: 1em;
  margin-top: 20px;
}

.footer .follows .follow {
  padding: 10px;
}

.footer .follows .follow a > svg {
  color: white;
}

.footer-copy {
  width: 100vw;
  height: 10vh;
  display: grid;
  place-content: center;
}

.footer-copy h4 {
  font-size: 1.5rem;
  color: var(--text);
}
